/* -----------------------------------
   BASE / GENERALES
----------------------------------- */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #F3F3F3;
  height: 100dvh;
  color: #1A1A1A;
}

/* ------------------------------
   Variables y layout base
------------------------------ */
:root{
  --sb-collapsed: 60px;
  --sb-expanded: 250px;
}

.layout { 
  display: flex; 
  width: 100%;
}

.main-content{
  flex: 1 1 auto;
  min-width: 0; /* evita desbordes horizontales */
}

/* -----------------------------------
   MENU LATERAL / BOTÓN HAMBURGUESA
----------------------------------- */

.menu-button-wrapper {
  all: unset;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  cursor: pointer;/*
  z-index: 5;*/
}


.menu-button {
  position: relative;
  height: 30px;
  width: 30px;  
  background: transparent;
  cursor: pointer;
}

.menu-button .common {
  position: absolute;
  height: 2px;
  width: 15px;
  background: #1A1A1A;
  border-radius: 50px;
  transition: 0.3s ease;
}

.top_line   { top: 30%; left: 50%; transform: translate(-50%, -50%); }
.middle_line{ top: 50%; left: 50%; transform: translate(-50%, -50%); }
.bottom_line{ top: 70%; left: 50%; transform: translate(-50%, -50%); }

.menu-button.active .top_line {
  top: 13px; left: 8px;
  width: 15px;
  transform: rotate(45deg);
}

.menu-button.active .bottom_line {
  top: 13px; left: 8px;
  width: 15px;
  transform: rotate(-45deg);
}

.menu-button.active .middle_line {
  opacity: 0;
  transform: translate(-5px);
}

.menu-text {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  white-space: nowrap;
  display: none;
}

.sidebar.open .menu-text {
  display: block;
}

/* ------------------------------
   SIDEBAR: ESTADOS
------------------------------ */

.sidebar {
  min-height: 100dvh;
  width: var(--sb-collapsed);
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
}

.sidebar.open {
  width: var(--sb-expanded);
 }

 .sidebar.open .menu-text {
  opacity: 1;
  pointer-events: auto;
 }

/* -----------------------------------
   MENU INTERNO
----------------------------------- */

.menu {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
  gap: 15px;
  min-height: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  font-size: 0.85rem;
  color: #1A1A1A;
  text-decoration: none; 
  cursor: pointer;
  border: 2px solid #1A1A1A;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px) saturate(140%);
  -webkit-backdrop-filter: blur(12px) saturate(140%);
  box-shadow: 0 3px rgba(0, 0, 0, 1);
  transition: all 0.2s ease-in-out;
}

.menu-item:hover {
  background: rgba(255, 255, 255, 0.1);
  transform: translateY(1px);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}

.menu-item .label{
  white-space: nowrap;
  overflow: hidden;
}

.sidebar:not(.open) .menu-item .label{
  opacity: 0;
  width: 0;
}

.sidebar:not(.open) .menu-item{
  justify-content: center;
  gap: 0;
}

.sidebar:not(.open) .menu-item img{
  margin: 0;
}

.menu a .tooltip { 
  position: absolute;
  left: calc(100% + 12px);
  z-index: 5;
  background-color: #1A1A1A;
  color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 8px 10px;
  font-weight: 400;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
}

.menu a:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

/* -----------------------------------
   INFO DEL ADMIN
----------------------------------- */

.admin-info {
  display: flex;
  flex-shrink: 0;
  padding 1rem;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid red;
}

.admin-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.admin-info img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.admin-details .name,
.admin-info .profile {
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
}


.icon_logout img {
  width: 30px;
  height: 30px;
}

.icon_logout {
  position: absolute;
  right: 1rem;
  width: 30px;
  height: 30px;
  background: none;
  border: transparent;
  cursor: pointer;
}
